<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="rviz" default="true" />
  <param name="intrinsic_path"        value="$(find project_radar)/../../data/parameters/intrinsic.txt" />  
  <param name="extrinsic_path"        value="$(find project_radar)/../../data/parameters/extrinsic.txt" />  


  <node pkg="project_radar" type="pointImage" name="pointImage" output="screen"/>

</launch>

